<h1>
  Qual produto você deseja saber a quantidade de
  <span class="carbon-text">carbono hoje?</span>
</h1>

<div class="input-container">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>O que você está buscando?</mat-label>
    <input
      matInput
      [formControl]="searchWordInputValue"
      placeholder="Ex: leite, compota de abacaxi, chocolate..."
    />
  </mat-form-field>

  <button
    mat-button
    (click)="onButtonContinueClick()"
    [disabled]="!searchWordInputValue.valid"
  >
    Continuar
  </button>
</div>
