h1 {
  font-size: 3em;
  color: #304050;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 32px;

  .carbon-text {
    color: #bdbdbd;
  }

  @media (max-width: 700px) {
    font-size: 2.5em;
    line-height: 40px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.full-width {
  width: 100%;
}
