header {
  top: 0px;
  width: 100%;
  height: 64px;
  display: flex;
  z-index: 10000;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #304050;

  h1 {
    font-size: 24px;
    margin-bottom: 0px;

    .easy-text {
      color: #bdbdbd;
    }

    .carbon-text {
      font-weight: bolder;
      color: #304050;
    }
  }
}
