h1 {
  font-size: 3em;
  color: #304050;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 32px;

  @media (max-width: 700px) {
    font-size: 2.5em;
    line-height: 40px;
  }
}

div {
  margin-bottom: 64px;
}
