<div *ngIf="!isLoading">
  <h1>Nós encontramos os seguintes resultados. Selecione um item abaixo:</h1>

  <mat-selection-list [multiple]="false">
    <mat-list-option
      [value]="result.id"
      (click)="onSelectProduct(result)"
      *ngFor="let result of resultFromSearchWord"
    >
      {{ result.name }}
    </mat-list-option>
  </mat-selection-list>

  <button
    mat-button
    color="accent"
    class="button-return"
    (click)="onButtonReturnClick()"
  >
    Voltar
  </button>
</div>
