h1 {
  font-size: 3em;
  color: #304050;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: justify;

  .search-word-text {
    color: #bdbdbd;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.full-width {
  width: 100%;
}
