h1 {
  margin: 0 auto;
  font-size: 3em;
  color: #304050;
  margin-top: 48px;
  line-height: 48px;
  font-weight: bold;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

button {
  margin-bottom: 80px;
}

.organizer {
  width: 70%;

  @media (max-width: 700px) {
    width: 90%;
  }
}
