.loading-container {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: white;
}
