.header-result-container {
  background-color: #304050;

  h2 {
    color: white;
    padding: 200px;
    font-size: 48px;
    margin: 0 auto;
    line-height: 56px;
    font-weight: bold;
    max-width: 1216px;
    font-family: "Helvetica Neue";

    .quantity {
      font-size: 72px;
      line-height: 72px;
    }
  }

  @media (max-width: 980px) {
    h2 {
      padding: 32px;
      font-size: 32px;
      line-height: 40px;

      .quantity {
        font-size: 48px;
        line-height: 64px;
      }
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1216px;

  @media (max-width: 980px) {
    max-width: 90%;
  }
}

.introduction-text-container {
  display: flex;
  margin-top: -64px;
  align-items: center;
  margin-bottom: 120px;
  justify-content: space-between;

  .image {
    flex: none;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    background-color: lightgray;
  }

  .text {
    padding-top: 32px;
    padding-right: 80px;

    h2 {
      font-size: 24px;
      font-weight: bolder;
    }
  }

  @media (max-width: 980px) {
    margin-top: 0px;
    margin-bottom: 56px;

    .image {
      display: none;
    }

    .text {
      padding-top: 40px;
      padding-right: 0px;
    }
  }
}

.carbon-steps-container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 120px;

  .card {
    min-width: 240px;
    padding: 16px;
    height: 240px;
    display: flex;
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.05);

    .carbon-quantity {
      color: rgba(17, 19, 30, 0.2);
      font-weight: bold;
    }

    h3 {
      font-weight: bold;
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  @media (max-width: 980px) {
    margin-bottom: 56px;
  }
}

.try-again-container {
  width: 100%;
  display: flex;
  padding: 64px 32px;
  border-radius: 4px;
  margin-bottom: 120px;
  box-sizing: border-box;
  background-color: black;
  align-items: flex-start;
  justify-content: space-between;

  h3 {
    color: white;
    font-size: 32px;
    margin-bottom: 0px;
  }

  p {
    color: white;
    font-size: 20px;
    margin-top: 16px;
  }

  @media (max-width: 980px) {
    flex-direction: column;
    margin-bottom: 56px;

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}
